.Login {

    display: flex;
    flex-direction: row;
    font-size: calc(5px + 2vmin);
    color: white;
  }

  .Login-Button {
    text-align: center;
    outline: none;
    text-decoration: none;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    will-change: transform;
    transition: transform 450ms ease 0s;
    transform: perspective(1px) translateZ(0px);
    font-size: 16px;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 12px;
    cursor: pointer;
    user-select: none;
    background-color: rgb(33, 36, 41);
    border: 1px solid rgb(44, 47, 54);
    color: rgb(255, 255, 255);
    font-weight: 500;
  }

  .Login-Button:hover {
    background-color: rgb(67, 73, 83);
    border: 2px solid rgb(108, 135, 199);
    padding-top: calc(0.5rem - 2px);
  }